<div class="card">
  @if (produto.imagem) {
  <img [src]="produto.imagem" [alt]="produto.nome" class="card-image">
  } @else {
  <div class="card-image-placeholder">
    <lucide-icon name="image" color="#bfdbfe"></lucide-icon>
  </div>
  }

  <div class="card-content">

    <h3 class="product-title">{{ produto.nome }}</h3>

    <div class="tags-row">
        <span class="tag-category">
          <lucide-icon name="tag" size="14"></lucide-icon> {{ produto.categoria }}
        </span>

        @if(produto.quantidadeEstoque > 0) {
        <span class="tag-stock">Em estoque</span>
        } @else {
        <span class="tag-stock" style="background-color: #fee2e2; color: #991b1b;">Esgotado</span>
        }
    </div>

    <p class="product-description">
      {{ produto.descricao }}
    </p>

    @if (produto.caracteristicas && produto.caracteristicas.length > 0) {
    <div class="product-caracteristics">
      <h4>Características:</h4>
      <ul>
        @for (caracteristica of produto.caracteristicas; track caracteristica) {
        <li>{{ caracteristica }}</li>
        }
      </ul>
    </div>
    }

    <div class="card-footer">
      <span class="product-price">R$ {{ produto.preco }}</span>

      <button class="add-cart-btn" (click)="addCard($event)">
        <lucide-icon name="shopping-cart"></lucide-icon>
        <span class="tooltip-text">Adicionar ao carrinho</span>
      </button>
    </div>

  </div>
</div>