<app-header></app-header>

<div class="layout-container">

  <app-sidebar></app-sidebar>

  <main class="content-area">

    <header class="page-header">
      <div class="header-titles">
        <h1>Catálogo de Produtos</h1>
        <p>Explore nossa seleção completa</p>
      </div>
    </header>

    <section class="filters-container">

      <div class="search-box">
        <lucide-icon name="search" size="16" class="search-icon"></lucide-icon>
        <input 
          type="text" 
          placeholder="Buscar produtos..." 
          [ngModel]="termoBusca()"
          (ngModelChange)="onBuscaChange($event)"
        />
      </div>

      <div class="category-box">
        <select 
          [ngModel]="categoriaSelecionada()" 
          (ngModelChange)="onCategoriaChange($event)" 
          class="category-select"
        >
          <option value="" disabled>Selecione uma categoria...</option>
          <option value="all">Todas as categorias</option>
          @for (categoria of listCategories(); track categoria) {
            <option [value]="categoria">{{ categoria }}</option>
          }
        </select>
      </div>

      <div class="results-bar">
        <span class="results-count">
          {{ listProducts().length }} produtos encontrados
        </span>

        <div class="sort-box">
          <select [ngModel]="ordenarPor()" (ngModelChange)="ordenarPor.set($event)">
            <option value="nome">Ordenar por: Nome</option>
            <option value="preco-menor">Ordenar por: Preço Menor</option>
            <option value="preco-maior">Ordenar por: Preço Maior</option>
          </select>
        </div>

        @if (termoBusca() || categoriaSelecionada()) {
          <button class="btn-clear-filters" (click)="limparFiltros()">
            <lucide-icon name="x" size="16"></lucide-icon>
            Limpar Filtros
          </button>
        }
      </div>

    </section>

    <section class="products-section">

      @if(loading()) {
      <div class="state-container">
        <div class="spinner"></div>
        <p>Carregando produtos...</p>
      </div>

      } @else if (listProducts().length === 0) {
      <div class="state-container">
        <p>Nenhum produto encontrado com os filtros aplicados.</p>
        <button class="btn-secondary" (click)="limparFiltros()">
          Limpar Filtros
        </button>
      </div>

      } @else {
      <div class="product-grid">
        @for (product of listProducts(); track product.id) {
        <app-card-product [produto]="product" (click)="abrirModal(product)"></app-card-product>
        }
      </div>
      }

      @if (produtoSelecionado) {
      <app-product-modal [produto]="produtoSelecionado" (close)="fecharModal()">
      </app-product-modal>
      }

    </section>

  </main>
</div>

<app-footer></app-footer>